body {
    background-color: #2fce0f;
    color:blueviolet;
    line-height: 1.6;

}

h1{
    color:deeppink;
    font-family: 'Gill Sans', 'Gill Sans MT',Calibre, sans-serif;
}

header {
    border-bottom: #ce4c0f;
    padding: 2;
    margin-bottom: 6;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10;
}

nav li {
    display:inline-block;
    margin-left: 10gi;      
}

h2{
    color:deeppink;
    font-family: 'Gill Sans', 'Gill Sans MT',Calibre, sans-serif;
}

